.main{
    padding-top: 100px;
    width: 100%;
}
.container{
    /* border: 1px solid red; */
    width: 1300px;
    margin: auto;
    display: flex;
    /* flex-direction: column; */
    height: 700px;
    margin-bottom: 50px;
}

/* LEFT SIDE */

.container > .left{
    border: 1px solid green;
    width: 60%;
    height: 100%;
}

/* RIGHT SIDE */

.container > .right{
    border: 1px solid blue;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}