
.prodBox{
    width: 280px;
    height: auto;
    /* border: 1px solid black; */
}
.prodBox > .details{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.prodBox > .details > div{
    text-align: left;
    width: 100%;
}
.prodBox > .details > div > h3{
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
}
.price{
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price > div{
    display: flex;
    align-items: flex-end;
    gap: 7px;
    font-size: 20px;
}
.price > div > p:nth-child(2){
    color: gray;
    font-size: 14px;
    text-decoration: line-through;
}
.price > div > p:nth-child(3){
    color: green;
    font-size: 14px;
}
.price > button{
   background-color: #D3145A;
   text-align: right;
   color: white;
   padding: 5px 10px;
   border: 1px solid #D3145A;
   font-size: 14px;
}
.price > button:hover{
   background-color: white;
   color: #D3145A;
   /* border: 1px solid #D3145A; */
}


/* Mobile Responsiveness */

@media all and (min-width:320px) and (max-width:481px){
    .prodBox{
        width: 38vw;
        height: auto;
        /* border: 1px solid black; */
    }
    .price{
        flex-direction: column;
    }
    .price{
        align-items: flex-start;
    }
    .price > button{
        padding:3px 10px;
    }     
}